.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white;
  color: aquamarine;
  color: #ffbd2f;
  color: #f6f6e5;
  color: pink;
  color: #104795;
  color: peachpuff;
  color: rgb(223, 208, 194);
  color: lightgray;
  color: #34347C;
  color: #E9B609;
  color: #F4F4F4;
  color: #f7cb39;
  color: #141414;
  color: #020202; */
}

.App-link {
  color: rgb(230, 230, 230);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
